#container{
	width: 1024px;
	margin: 0 auto;
}

nav {
	height: 20px;
	padding-top: 5px;
}
nav ul{
	padding-left: 0px;
	margin: 0px;
}
nav ul li{
	display: inline-block;
	margin-left: 15px;
}

nav ul li:first-child{
	margin-left: 0px !important;
}

nav a {
 color: red;
}

footer p {
	font-size: 8;
	color: red;
}

.nav-left
{
	width: 20%;
	float: left;
}

.nav-middle
{
	width: 50%;
	float: left;
}

.nav-right
{
	width: 30%;
	float: right;
}

.nav-right ul
{
	float: right;
}