#container{
	width: 1024px;
	margin: 0 auto;
}

nav {
	height: 20px;
	padding-top: 5px;
}
nav ul{
	padding-left: 0px;
	margin: 0px;
}
nav ul li{
	display: inline-block;
	margin-left: 15px;
}

nav ul li:first-child{
	margin-left: 0px !important;
}

nav a {
 color: #E04;
}

.nav-left
{
	width: 50%;
	float: left;
}

.nav-middle
{
	width: 30%;
	float: left;
}

.nav-right
{
	width: 20%;
	float: right;
}

.nav-right ul
{
	float: right;
}

.tag{
	
}

.message
{
	color: red;
}

footer
{
	margin-top: 20px;
}
footer p {
	font-size: 8;
	color: red;
}

.tag-list {
    float: left;
    border: solid 1px #ccc;
    margin-right: 10px;
    min-width: 100px;
    margin-bottom: 10px;
}

.tag-check {
    width: 20px;
    margin: 0;
    float: left;
}

.tag-label {
    float: left;
}

.main-contain
{
	margin-bottom: 30px;
}

/* nav {
    display: block;
    list-style-type: none;
} */

nav nav {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.25s linear;
    height: 0;
    margin-top: -10px;
}

nav nav li {
    float: none;
}

nav li:hover nav {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}